Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [21]:
import pandas as pd
import numpy as np
data = {
    'Name': ['Liam','Preethi','Vivek','Vinay','Kishore','Lata','Ramya','Krish','Kavya','Pawan'],
    'Age': [33,29,25,32,22,36,31,34,26,24],
    'Gender': ['M','F','M','M','M','F','F','M','F','M'],
    'Score(/100)': [87,91,45,76,32,61,85,96,26,97],
    'Pass or Fail': ['P','P','F','P','F','P','P','P','F','P']
}
df = pd.DataFrame(data)
print(df)

      Name  Age Gender  Score(/100) Pass or Fail
0     Liam   33      M           87            P
1  Preethi   29      F           91            P
2    Vivek   25      M           45            F
3    Vinay   32      M           76            P
4  Kishore   22      M           32            F
5     Lata   36      F           61            P
6    Ramya   31      F           85            P
7    Krish   34      M           96            P
8    Kavya   26      F           26            F
9    Pawan   24      M           97            P

Task- 2 Check the info of 'df'

In [22]:
df_info = df.info()
print(df_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          10 non-null     object
 1   Age           10 non-null     int64
 2   Gender        10 non-null     object
 3   Score(/100)   10 non-null     int64
 4   Pass or Fail  10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes
None

Task 3- Check the descriptive statistics of 'df'

In [23]:
print(df.shape)
df1=df.describe()
print(df1)

(10, 5)
             Age  Score(/100)
count  10.000000    10.000000
mean   29.200000    69.600000
std     4.732864    26.833644
min    22.000000    26.000000
25%    25.250000    49.000000
50%    30.000000    80.500000
75%    32.750000    90.000000
max    36.000000    97.000000

Task 4- Check the 4th index observation with 'loc' slicing operator.

In [24]:
obv_4=df.loc[4]
print(obv_4)

Name            Kishore
Age                  22
Gender                M
Score(/100)          32
Pass or Fail          F
Name: 4, dtype: object

Task 5 - Check the null values in your 'df'

In [25]:
null_values = df.isnull()
null_count = null_values.sum()
print(null_count)

Name            0
Age             0
Gender          0
Score(/100)     0
Pass or Fail    0
dtype: int64